<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Reusable Form Demo</title>
    </head>
    <body>
        <form action="" method="post">
            {{ form.csrf }}
            <table>
                <tr>
                    <td>
                        <div class="input text">
                            {{ form.name.label }} {{ form.name }}
                        </div>
                    </td>
                    <td>
                        <div class="input submit">
                            <input type="submit" value="Find" />
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        {% if Items %}
            <table>
                <tr>
                    <td align="center">Date</td>
                    <td align="center">Question</td>
                    <td align="center">Author</td>
                    <td align="center">Anwered</td>
                {% for item in Items%}
                    <tr>
                        <td><a href='{{item.link}}' target='blank'>{{item.date}}</a></td>
                        <td><a href='{{item.link}}' target='blank'>{{item.question}}</a></td>
                        <td><a href='{{item.link}}' target='blank'>{{item.posted}}</a></td>
                        <td><a href='{{item.link}}' target='blank'>{{item.haveanswer}}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </body>
</html>
