<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Reusable Form Demo</title>
    </head>
    <body>
        <form action="" method="post">
            {{ form.csrf }}
            <table>
                <tr>
                    <td>
                        <div class="input text">
                            {{ form.name.label }} {{ form.name }}
                        </div>
                    </td>
                    <td>
                        <div class="input submit">
                            <input type="submit" value="Find" />
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for message in messages %}
                        {{ message[1] }}
                    {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>
